body {
    background-color: black;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1%;
}

a {
    color: #FF9800;
    text-decoration: underline;
}

